$background-color: #f7f5ef;
$backgroundPrimary: #1156a0;
$padding: 15px;
$background-light: white;

body {
  background: $background-color;
  font-size: 20px;
  //padding-bottom: 50px;
  header {
    //background: $backgroundPrimary;
    height: 250px;
  }
  main {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: fit-content;
    #noteContainer {
      height: fit-content;
      box-shadow: 7px 10px 9px 4px #afafaf;
      #addNote {
        background: red;
        background: #1156a0;
        padding: $padding;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      #noteListHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $padding;
        background: #ededed;
      }
      #noteListBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $padding;
        background: $background-light;
        #noteTitle {
          border-right: 1px solid black;
          width: 200px;
          font-size: 16px;
          height: 100px;
          display: flex;
          flex-direction: column;
        }
        #noteContent {
          height: fit-content;
          width: 100%;
          padding-left: $padding;
        }
      }
      #noteListFooter {
        padding: $padding;
        background: $background-light;
      }
    }
    #todoContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      box-shadow: 7px 10px 9px 4px #afafaf;
      a:hover {
        text-decoration: none;
      }
      .card {
        width: 250px;
        //box-shadow: 4px 8px 5px #757575;
        .card-head {
          padding: 15px;
          background: $backgroundPrimary;
        }
        .card-head:hover {
          background: red;
        }
      }
      #todoList {
        width: 100%;
        #addTodo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #1156a0;
          padding: $padding;
          padding-top: 25px;
          padding-bottom: 25px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          #todoTitle {
            width: 75%;
            max-height: 40px;
          }
        }
        #advancedTodo {
          width: 100%;
          .card {
            width: 100%;
          }
        }
        #todoListHeader {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: $padding;
          background: #ededed;
        }
        #todoListBody {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: $padding;
          background: $background-light;
          .todoItem {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: $padding;
            .todoTitle {
              width: 100%;
            }
            .todoStatus {
              display: flex;
              flex-direction: row;
              min-width: 200px;
              justify-content: space-between;
              align-items: center;
              opacity: 0.5;
            }
            .prioBg-0 {
              color: blue;
              height: fit-content;
            }
            .prioBg-1 {
              color: orange;
              height: fit-content;
            }
            .prioBg-2 {
              color: red;
              height: fit-content;
            }
          }
        }
        #todoListFooter {
          padding: $padding;
          background: $background-light;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    header {
      background: $background-color;
    }
    //background-color: lightgreen !important;
    main {
      width: 100%;
      margin-top: 0 !important;
      #addNote {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
      }
    }
  }
  #todoList {
    width: 100%;
    #addTodo {
      display: flex;
      flex-direction: column !important;
      background: red;
      flex-direction: row;
      justify-content: space-between;
      padding: $padding;
      gap: 15px;
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      #todoTitle {
        width: 100% !important;
        max-height: 40px;
      }
    }
    .todoItem {
      flex-direction: column !important;
      .todoTitle {
        font-weight: 600;
      }
      .todoStatus {
        width: 180px !important;
      }
    }
  }
}
